black==24.3.0
celery==5.4.0
coverage==4.5.3
coveralls==1.8.1
Django==4.2.20
django-celery-beat==2.7.0
djangorestframework==3.15.2
flake8==3.8.3
gunicorn==23.0.0
hashids==1.2.0
isort[requirements]==4.3.21
openpyxl==2.4.9
Pillow>=8.4.0
pipfile==0.0.2
psycopg2-binary==2.9.7
PyPDF2==1.27.9
redis==5.1.1
reportlab==3.6.13
requests==2.32.0
responses==0.10.6
sauceclient==1.0.0
selenium==3.141.0
whitenoise==6.5.0
