black==19.10b0
coverage==4.5.3
coveralls==1.8.1
Django==3.1.10
djangorestframework==3.11.2
flake8==3.8.3
gunicorn==20.0.4
hashids==1.2.0
isort[requirements]==4.3.21
openpyxl==2.4.9
Pillow>=6.2.0
pipfile==0.0.2
psycopg2==2.8.4
PyPDF2==1.26.0
reportlab==3.5.23
requests==2.20.0
responses==0.10.6
sauceclient==1.0.0
selenium==3.141.0
whitenoise==5.0.1
