<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          {% for carousel in carousels %}
          <li data-target="#myCarousel" data-slide-to="{{forloop.counter0}}" class="active"></li>
          {% empty %}
          {% endfor %}
        </ol>
        <div class="carousel-inner">

          {% for carousel in carousels %}
            {% if forloop.counter == 1 %}
             <div class="carousel-item active">
            {% else %}
             <div class="carousel-item">
            {% endif %}
            <img class="first-slide" src="/static/images/carousel/{{ carousel.image }}" alt="Second slide">
            <div class="container">
              <div class="carousel-caption">
                <h1>{{ carousel.title }}</h1>
                <p>{{ carousel.teaser_text }}</p>
                {% if carousel.use_button %}
                <p><a class="btn btn-lg btn-primary" href="{{ carousel.button_link }}" role="button">{{ carousel.button_text }}</a></p>
                {% endif %}
              </div>
            </div>
          </div>
          {% empty %}
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
