{% load static %}
        <hr id="gas" class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Gas Servicing. <span class="text-muted">Heat on demand. Value for money</span></h2>
            <p class="lead">Gas appliance service charges</p>
            <ul>
                  {% for price in gas_prices %}
                      <li>{{ price }}</li>
                  {% endfor %}
            </ul>
            <a class="btn btn-primary btn-lg" href="#contact" role="button">Book Now</a>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/static/images/featurettes/gas.jpg" alt="Gas Service">
          </div>
        </div>

        <hr id="oil" class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oil Service. <span class="text-muted">Save money and increase efficiency.</span></h2>
            <p class="lead">Oil fired appliance service charges</p>
            <ul>
                  {% for price in oil_prices %}
                      <li>{{ price }}</li>
                  {% endfor %}
            </ul>
            <a class="btn btn-primary btn-lg" href="#contact" role="button">Book Now</a>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="/static/images/featurettes/oil.jpg">
          </div>
        </div>

        <hr id="repair" class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Repair. <span class="text-muted">For when the unexpected happens.</span></h2>
            <p class="lead">Repair charges</p>
            <ul>
                  <li>{{ repair_fee }} (most call outs require 1hr or less)</li>
                  <li>If parts are required this will be extra</li>
                  <li>If a part needs to be ordered there is no extra charge for the return visit to install the part.</li>
                  <li>We stock  a large number of oil boiler parts so 95% of repairs can be fixed at the first visit.</li>
                  <li>We do stock some gas boiler parts but due to the large number of makes and models of gas boilers on the market it is impossible to stock all gas parts.</li>
            </ul>
            <a class="btn btn-primary btn-lg" href="#contact" role="button">Book Now</a>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/static/images/featurettes/burner.jpg">
          </div>
        </div>

        <hr id="summer" class="featurette-divider">
	
	<div class="row featurette">
        <div class="col-md-6">
          <h2 class="featurette-heading">Summer Deals. <span class="text-muted">Special offers for the holidays.</span></h2>
          <p class="lead"> All charges reduced in summer! Prices valid for June, July and August</p>

          <p class="lead"> Oil deals</p>
          <ul>
            {% for price in summer_oil %}
              <li>{{ price }}</li>
            {% endfor %}
          </ul>
          <br />
          <p class="lead"> Gas deals</p>
          <ul>
            {% for price in summer_gas %}
              <li>{{ price }}</li>
            {% endfor %}
          </ul>
          <br />
         <p><a class="btn btn-lg btn-primary" href="#contact" role="button">Book Now</a></p>
         <a href="#">Back to top</a>
        </div>
        <div class="col-md-4">
          <img class="featurette-image img-responsive" src="{% static 'images/featurettes/offers.jpg' %}" alt="Summer savings">
        </div>
      </div>

      <hr id="contact" class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Book Now. <span class="text-muted">A great experience awaits.</span></h2>
            <p class="lead">
                <strong>Call us: </strong><a href="tel:+353876341300">087 634 1300</a> or <strong>email: </strong><a href="mailto:info@groganburners.ie">info@groganburners.ie</a>
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="/static/images/featurettes/phone.jpg">
          </div>
        </div>
        
        <hr id="about" class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/static/images/featurettes/logo.png">
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">About us. <span class="text-muted">Over 40 years experience.</span></h2>
            <p class="lead">Grogan Burners is based in Ballyda, Danesfort, Co. Kilkenny. We serve Kilkenny City and the surrounding counties in the Leinster region. Started over 40 years ago by Milo Grogan, his son Michael now runs the business, after setting up the limited company in 2007. We take pride in our service and many of our customers have been with us for years - we like to keep people loyal!</p>
            <p class="lead">We provide:</p>
            <ul>
                    <li>Gas boiler service</li>
                    <li>Gas burner service</li>
                    <li>Gas boiler repair</li>
                    <li>Gas burner repair</li>
                    <li>Gas combi boiler service</li>
                    <li>Gas fire service</li>
                    <li>Oil boiler service</li>
                    <li>Oil burner service</li>
                    <li>Oil boiler repair</li>
                    <li>Oil burner repair</li>
                    <li>Oil combi boiler service</li>
                    <li>Oil condensing boiler service</li>
            </ul>
            
            <p class="lead">Service area includes: parts of Loais, Offaly, Kilkenny, Tipperary, Carlow, Waterford.</p><p>We also take safety as the number one priority. All of our engineers are RGI (gas) and OFTEC (oil) certified and carry work out to the highest standard.</p></div></div><div class="row featurette"><div class="col-sm"></div><div class="col-sm"><img src="/static/images/cert/oftec.jpg"><img src="/static/images/cert/rgii.jpg">
          </div>
        </div>

        <hr class="featurette-divider">
