<div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="/static/images/teasers/gas.jpg" alt="Gas Hob" width="140" height="140">
            <h2>Gas</h2>
            <p>We do comprehensive gas boiler, gas burner, gas fire and gas appliance servicing. This includes cleaning out the combustion chamber (to improve efficiency) and a full safety and emissions report. Fully insured and RGI registered for safety.</p>
            <p><a class="btn btn-secondary" href="#gas" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/static/images/teasers/oil.png" alt="Oil Barrel" width="140" height="140">
            <h2>Oil</h2>
            <p>We do a full service of oil boiler and oil burner appliances. 95% of call outs are less then an hour. Fully insured and OFTEC registered for safety.</p>
            <p><a class="btn btn-secondary" href="#oil" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="/static/images/teasers/repair.png" alt="Repair of Boiler and Burner" width="140" height="140">
            <h2>Repair</h2>
            <p>We stock a large range of parts for oil and the most most popular parts for gas. Most callouts are under an hour and fixed on the spot.</p>
            <p><a class="btn btn-secondary" href="#repair" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
