<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
  <a class="navbar-brand pull-left" href="/">Grogan Burner Services<img class="logo" itemprop="logo" src="/static/images/menu/flames.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="#gas">Gas Services</a>
      <a class="nav-item nav-link active" href="#oil">Oil Services</a>
      <a class="nav-item nav-link active" href="#repair">Boiler Repair</a>
      <a class="nav-item nav-link active" href="#contact">Contact Us</a>
      <a class="nav-item nav-link active" href="#about">About Us</a>
    </div>
  </div>
</nav>
