{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Grogan Burner Services | Oil & Gas Service, Install & Repair in Kilkenny</title>
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="icon" href="/static/images/favicon.ico">

  <!-- META Tags -->
  <meta name="author" content="Neil Grogan">
  <meta name="description"  content="Grogan Burners provides the best value heating services: Oil boiler service in Kilkenny and Gas boiler service in Kilkenny. We can also install, comission and repair Gas burner and repair Oil burners in Kilkenny.">
  <meta name="keywords"  content="gas, oil, burner, boiler, service, install, repair, kilkenny, waterford, tipperary, laois, carlow">
  
  <!-- Open Graph -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Grogan Burner Services">
  <meta property="og:description" content="Heating service, installation and repair in Kilkenny, Ireland.">
  <meta property="og:url" content="https://www.groganburners.ie/">
  <meta property="og:site_name" content="Grogan Burner Services">
  <meta property="og:image" content="https://groganburners.ie/static/images/social/flames.png">
  <meta property="og:locale" content="en_IE">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@groganburners">
  <meta name="twitter:creator" content="@groganburners">
  <meta name="twitter:description" content="Heating service, install & repair in Kilkenny, Ireland.">
  <meta name="twitter:image" content="https://groganburners.ie/static/images/social/flames.png">

</head>

<body>

  <div class="wrapper">
      <header class="header">
        <h1>Grogan Burner Services <picture><source type="image/avif" srcset="https://groganburners.com/static/images/menu/flames.avif"><img class="logo" src="https://groganburners.ie/static/images/menu/flames.png" width="23" height="29" alt="Grogan Burners Logo"></picture></h1>
        <button aria-expanded="false" aria-controls="menu-list">
          <span class="open">☰</span>
          <span class="close">×</span>
          <span class="menu-btn-txt">Menu</span>
        </button>
        <nav class="menu">
          <ul aria-label="Grogan Burners Main Menu" role="menubar" id="menu-list">
            <li role="presentation">
              <a role="menuitem" href="/" tabindex="0">Home</a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#gas" tabindex="0">Gas Services</a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#oil" tabindex="0">Oil Services</a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#repair" tabindex="0">Boiler Repair</a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#contact" tabindex="0">Contact Us</a>
            </li>
            <li role="presentation">
              <a role="menuitem" href="#about" tabindex="0">About Us</a>
            </li>
            </ul>
        </nav>
      </header>


      {% block content %}
      {% endblock %}


    <footer class="footer">
    <p class="pull-right"><a href="#">Back to top</a></p><div itemscope="" itemtype="http://schema.org/Organization"><p>© 2007-{% now "Y" %} <span itemprop="name legalName">Grogan Burner Services Ltd.</span></p>
    <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
    <span itemprop="streetAddress">Ballyda</span>,<br>
		<span itemprop="addressLocality">Danesfort</span>,<br>
		<span itemprop="addressRegion">Co. Kilkenny</span>,<br>
		<span itemprop="postalCode">R95 XYH0</span>,<br>
		<span itemprop="addressCountry">Ireland</span></div><br>
    <p>Phone us: <span itemprop="telephone"><a href="tel:+353876341300">087 634 1300</a></span><br>
	     Email us: <span itemprop="email"><a href="mailto:info@groganburners.ie">info@groganburners.ie</a></span>
    </p>
    <a href="https://www.groganburners.ie/" itemprop="url">www.groganburners.ie </a>
    <br>
       Find us on: <a href="https://www.facebook.com/groganburners">Facebook</a> &amp; <a href="https://www.x.com/groganburners">X</a>
    <br>
    <p>Company <abbr title="Registration">Reg.</abbr> No: 451657 <br>
     <abbr title="Value Added Tax">VAT</abbr> No: <span itemprop="vatID">IE 9675520W</span>
    </p>
    <br>
    <p><a href="https://validator.w3.org/nu/?doc={{ request.build_absolute_uri }}">Validate HTML</a></p><p></p></div>
    </footer>
  </div> <!-- END of wrapper -->

  <script>
    const navButton = document.querySelector('button[aria-expanded]');

    function toggleNav({ target }) {
      const expanded = target.getAttribute('aria-expanded') === 'true' || false;
      navButton.setAttribute('aria-expanded', !expanded);
    }

    navButton.addEventListener('click', toggleNav);

  </script>
</body>
</html>
{% endspaceless %}
