{% load static %}
{% spaceless %}
<!doctype html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description",content="Oil & Gas Burner/Boiler Servicing in Kilkenny. Family owned and run." />
  <meta name="author",content="Neil Grogan" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/static/images/favicon.ico">
  <title>{% block title %}Grogan Burner Services{% endblock %}</title>
  <style>
      {% include 'old/css/bootstrap.min.css' %}
      {% block styles %}
      {% endblock %}
  </style>
</head>

<body>
   <header>
    {% include 'old/layouts/components/navbar.html' %}
   </header>
    <main role="main">
      <div class="messages"></div>

      {% block content %}
      {% endblock %}
      {% include 'old/layouts/components/footer.html' %}
    </main>
	<script>
		{% include 'old/js/jquery-3.2.1.slim.min.js' %}
		{% include 'old/js/popper.js' %}
		{% include 'old/js/bootstrap.min.js' %}
		{% include 'old/js/base.js' %}
          {% block scripts %}
          {% endblock %}
	</script>
</body>
</html>
{% endspaceless %}
