:root {
  /* Light Palette */
  --fdbrown: #988981;
  --lbrown: #be9282;
  --lgrey: #a6b4b8;
  --lred: #e98080;
  --peach: #e4a582;
  --lorange: #edb98f;
  --lyellow: #f4dd93;

  /* Medium Palette */
  --mfadbrown: #311203;
  --mbrown: #7c2404;
  --mgrey: #4c6971;
  --mred: #d20000;
  --mpeach: #c94b05;
  --morange: #da721e;
  --myellow: #e9bb26;

  /* Dark Palette */
  --dbrown: #130701;
  --dbrownrgb: 19, 7, 1;
  --dbbrown: #310e01;
  --dgrey: #1e2a2d;
  --dred: #540000;
  --dpeach: #501e02;
  --dorange: #572d0c;
  --dyellow: #5d4a0f;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

/*
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  color: #5a5a5a;
}

h1 a {
  text-decoration: none;
  font-size: 1.25rem;
  padding-left: 10px;
  color: #fff !important;
}

a.button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
  appearance: button;
  text-decoration: none;
  color: initial;
}

img {
  max-width:100%;
  object-fit: contain;
}

/* .wrapper */

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.header {
  display: grid;
  background-color: var(--dbrown) !important;
  grid-template-columns: 280px auto auto;
  grid-template-rows: 60px;
  grid-template-areas: "header menu";

}

.header h1 {
  grid-area: header;
  align-self: center;
}

.menu-opener {
  display: none;
}

/* Navigation */

nav {
  grid-area: menu;
  display: grid;
  background-color: rgba(var(--dbrownrgb), 0.7);
  align-self: center;
}

.menu ul {
  display: grid;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(6, minmax(50px, auto));
}

.menu a {
  display: block;
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
}

[aria-controls="menu-list"] {
  grid-area: menubutton;
  display: none;
  background-color: var(--dbrown) !important;
}

.open {
  pointer-events: none;
}

.close {
  pointer-events: none;
}

.menu-btn-txt {
  pointer-events: none;
}

/* Hero Image */
.hero {
  margin-top: -20px;
  display: grid;
  grid-template: repeat(3, [row] minmax(120px, 1fr)) / repeat(3, [col] 1fr);
}

.hero img {
  grid-column: col 1 / span 3;
  grid-row: row 1 / span 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  grid-column: col 2 / span 1;
  grid-row: row 2;
  align-self: center;
  justify-self: center;
  border-radius: 25px;
  margin: 0 2rem;
  text-align: center;
  background-color: rgba(var(--dbrownrgb), 0.6);
  padding: 20px;
  color: white;
}

.hero-text .button {
  display: inline-block;
  margin-top: 1em;
}

/* Teasers */

.teasers {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.teaser {
  display: grid;
  grid-template: 150px 30px 150px 40px / 1fr;
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px  rgba(0,0,0,0.1);
}

.teaser img {
  margin: auto;
}

.teaser p {
  color: rgba(0,0,0,0.5);
}

.teaser .button {
  margin: 0 2rem;
}

/* Features */

.feature {
  background: white;
  padding: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template: auto / 1fr 3fr;
  grid-template-areas: "feature-img feature";
  align-items: center;
}

.feature.flipped {
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "feature feature-img";
}

.feature-divider {
  margin: 2rem 3rem;
  box-sizing: content-box;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.feature h2 {
  font-size: 2rem;
}

.feature img {
  grid-area: feature-img;
}

.features .logo {
  align-self: start;
  height: auto;
}

.feature__details{
  grid-area: feature;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5em;
  min-width: 0;
  padding-left:30px;
}

.feature__details .lead {
  padding: 10px 0;
  font-size: 1.25rem;
  font-weight: 300;
}


.feature__details .button {
  max-width: 110px;
}

.feature__details ul {
  padding-left: 10px;
}

.text-muted {
    color: #868e96 !important;
}

footer {
  padding-left: 4em;
}


@media screen and (max-width: 1000px) {
  .header {
    grid-template-columns: auto;
    grid-template-rows: 60px 20px;
    grid-template-areas: "header" "menu";
  }
}

@media screen and (max-width: 700px) {

  .header {
    grid-template-columns: auto auto;
    grid-template-rows: 60px;
    grid-template-areas: "header menubutton" "menu .";
  }


  [aria-controls="menu-list"] {
    border: 0;
    font-size: 1.2rem;
    padding: 10px 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: var(--murky) !important;
    display: inline-block;
    margin-bottom: 10px;
    max-width: 100px;
  }

  nav {
    overflow: hidden;
    display: none;
    /* transform: rotateX(90deg); */
    /* transition: all 0.5s; */
  }

  [aria-expanded="true"] ~ nav {
    display: inline;
    max-height: 500px;
    justify-self: center;
    align-self: start;
    background-color: var(--murky) !important;
    z-index: 20;
    /* transform: rotateX(0); */
  }

  .menu ul {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, minmax(50px, auto));
  }

  .menu li a {
    border-bottom: 1px dashed white;
  }


  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

  .hero {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .hero-text {
    grid-column: col 1 / span 3;
  }

  .feature {
    grid-template-columns: 1fr;
    grid-template-areas:
      "feature-img"
      "feature";
  }

  .feature.flipped {
    grid-template-columns: 1fr;
    grid-template-areas:
      "feature-img"
      "feature";
  }

}

@media screen and (max-width: 500px) {

  h1 a {
    font-size: .8rem;
  }

  .menu-btn-txt {
    display: none;
  }

  .open {
    font-size: 1.6em;
  }

  .close {
    font-size: 1.6em;
  }
}

@media screen and (max-width: 420px){

}

@media screen and (max-width: 350px){

}
