:root {
  --yellow: #ffc600;
  --black: #272727;
  --murky: #343a40;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
}

/*
  WAT IS THIS?!
  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 15px;
  color: #5a5a5a;
}

h1 a {
  text-decoration: none;
  font-size: 1.25rem;
  padding-left: 10px;
  color: #fff !important;
}

a.button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
  appearance: button;
  text-decoration: none;
  color: initial;
}

img {
  max-width:100%;
  height: 100%;
  object-fit: contain;
}

/* .wrapper */

.wrapper {
  display: grid;
  grid-gap: 20px;
}

.top {
  display: grid;
  background-color: var(--murky) !important;
  align-items: center;
  grid-template: 60px 1fr / auto auto 1fr;
  grid-template-areas:
    "header menu"
}

.header {
  grid-area: header;
  min-width: 280px;
}

.menu-opener {
  grid-area: menubutton;
  display: none;
}

/* Navigation */

nav {
  display: grid;
}

.menu ul {
  display: grid;
  padding: 0;
  list-style: none;
  grid-gap: 0;
  grid-template-columns: repeat(6, minmax(70px, 100px));
}

.menu a {
  display: block;
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  font-size: 1rem !important;
  font-weight: 400;
  line-height: 1.5;
  color: var(--black);
}

#menu-list {
  grid-area: menu;
}

[aria-controls="menu-list"] {
  grid-area: menubtn;
  display: none;
}

/* Hero Image */
.hero {
  display: grid;
  grid-template: repeat(3, [row] minmax(120px, 1fr)) / repeat(3, [col] 1fr);
  grid-column-gap: -20px -20px;
  margin-top: -20px;
}

.hero img {
  grid-column: col 1 / span 3;
  grid-row: row 1 / span 3;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  grid-column: col 2 / span 1;
  grid-row: row 2;
  align-self: center;
  justify-self: center;
  border-radius: 25px;
  margin: 0 2rem;
  text-align: center;
  background-color:rgba(0,0,0,0.6);
  padding: 20px;
  color: white;
}

.hero-text .button {
  display: inline-block;
  margin-top: 1em;
}

/* Teasers */

.teasers {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.teaser {
  display: grid;
  grid-template: 150px 30px 150px 40px / 1fr;
  background: white;
  padding: 10px;
  border: 1px solid white;
  text-align: center;
  box-shadow: 0 0 4px  rgba(0,0,0,0.1);
}

.teaser img {
  margin: auto;
}

.teaser p {
  color: rgba(0,0,0,0.5);
}

.teaser .button {
  margin: 0 2rem;
}

/* Features */

.feature {
  background: white;
  padding: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template: auto / 1fr 3fr;
  grid-template-areas: "feature-img feature";
  align-items: center;
}

.feature.flipped {
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "feature feature-img";
}

.feature-divider {
  margin: 2rem 3rem;
  box-sizing: content-box;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.feature h2 {
  font-size: 2rem;
}

.feature img {
  grid-area: feature-img;
}

.features .logo {
  align-self: start;
  height: auto;
}

.feature__details{
  grid-area: feature;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 0.5em;
  min-width: 0;
  padding-left:30px;
}

.feature__details .lead {
  padding: 10px 0;
  font-size: 1.25rem;
  font-weight: 300;
}


.feature__details .button {
  max-width: 108px;
}

.feature__details ul {
  padding-left: 10px;
}

.text-muted {
    color: #868e96 !important;
}

footer {
  padding-left: 4em;
}


@media (max-width: 1000px) {

  .top {
    grid-template-columns: auto;
    grid-template-areas:
      "header"
      "menu"
  }

}

@media (max-width: 700px) {
  .top {
    grid-template-columns: repeat(2,auto);
    grid-template-areas:
      "header menubtn"
      "menu .";
  }

  [aria-controls="menu-list"] {
    display: inline-block;
    margin-bottom: 10px;
    max-width: 100px;
  }

  nav {
    overflow: hidden;
    display: none;
    /* transform: rotateX(90deg); */
    /* transition: all 0.5s; */
  }

  [aria-expanded="true"] ~ nav {
    display: inline;
    max-height: 500px;
    /* transform: rotateX(0); */
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

  .menu ul {
    grid-template: repeat(auto-fill, minmax(70px, 100px)) / 1fr;
  }

  .menu li {
    align-self: center;
    justify-self: center;
  }

  .hero-text {
    grid-column: col 1 / span 3;
  }

  .feature {
    grid-template-areas:
      "feature-img"
      "feature";
  }

  .feature.flipped {
    grid-template-columns: 1fr;
    grid-template-areas:
      "feature-img"
      "feature";
  }

}

@media (max-width: 500px) {
  h1 a {
    font-size: 1rem;
  }
}
